[simulation]
; to use subscription flooding set following to false
adv_based = true
no_of_nodes = 50
; number of subs is same as number of subscribers
no_of_subs = 10000
; number of ads is the same as number of publishers
no_of_advs = 100
; publish duration in seconds
pub_duration = 60
; publication rate is per publisher client per second
pub_rate = 5
; when to start publishing (each node will send its first pub at this time)
start_publish_time = 100
max_simulation_time = 5000000
apply_load_delay = true

[workload]
no_of_classes = 20
no_of_attributes = 2
attribute_min_value = 0
attribute_max_value = 1000
; allowed values: a distribution
publisher_popularity = ZIPF
zipf_exponent = 1
msg_size = 1024
; allowed values: UNIFORM, ZIPF, NORMAL, POISSON
attribute_value_dist = UNIFORM
sub_over_nodes_dist = UNIFORM
adv_over_nodes_dist = UNIFORM
; whether only leaf nodes act as client (LEAVES) or all nodes (ALL) 
; or a specified list of ids(LIST) or root and it's children (ROOT_AND_CHILDREN)
pub_nodes = ROOT_AND_CHILDREN
pub_nodes_list = 0,1,2,3
sub_nodes = ALL
sub_nodes_list = 0, 1
load_faults = false
