[simulation]
adv_based = true
no_of_nodes = 6
no_of_subs = 6
no_of_advs = 6
no_of_pubs = 60
; publication interval is in milliseconds
pub_interval = 1000
; when to start publishing (each node will send its first pub at this time)
start_publish_time = 0
max_simulation_time = 100000
apply_link_congestion = false
apply_node_congestion = false

[gossip]
min_gossip_latency = 20
max_gossip_latency = 60
fault_detection = true

[network]
; for random generator
seed = 123456789

[workload]
no_of_classes = 10
no_of_attributes = 3
attribute_min_value = 0
attribute_max_value = 1000
zipf_exponent = 0.7
; number between 0-100; 0 -> pref class never selected; 100 -> pref class always selected
pref_class_bias = 80
pref_class_same	 = true
; allowed values: UNIFORM, ZIPF
attribute_value_dist = ZIPF
attribute_std_dev_factor = 3
; allowed values: GAUSIAN, UNIFORM
sub_over_nodes_dist = UNIFORM
sub_over_nodes_std_dev_factor = 3
adv_over_nodes_dist = UNIFORM
adv_over_nodes_std_dev_factor = 3
pub_over_nodes_dist = UNIFORM
pub_over_nodes_std_dev_factor = 3
; whether only leaf nodes act as client (LEAVES) or all nodes (ALL) or a specified list of ids(LIST)
pub_nodes = ALL
; pub_nodes_list = 1,2,...
sub_nodes = ALL
; sub_nodes_list = 1,2,...
